/* Reset and basic styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff; /* Set to white for all pages */
  color: #222;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  text-align: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
